$transparent-black-3: rgba(0,0,0,0.3);
$transparent-black-5: rgba(0,0,0,0.5);
$transparent-white-3: rgba(255, 255, 255, 0.3);
$background: #EDEFED;
$main-text: #565A5C;
$yellow: #ffaa00;

@font-face {
	font-family: openSans;
	src: url(OpenSans-CondLight.ttf);
}
@font-face {
	font-family: openSansBold;
	src: url(OpenSans-CondBold.ttf);
}

body, html {
	width: 100%;
	height: 100%;
	font-family: openSans;
	background-color: $background;
	color: $main-text;
}

.sfVid {
	position: absolute; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.content {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-bottom: 200px;
}

#logo {
	margin: 200px 0px;
	color: white;
  padding: 20px 0px;	
  background-color: $transparent-black-3;
  font-size: 4em;
  font-family: openSansBold;
}
#logo-color {
	color: $yellow;
}
.glyphicon-plus-sign {
	color: $yellow;
}

.navbar-custom {
	background-color: $transparent-black-5;
	a {
		color: white;
	}
	a:hover {
		background-color: $transparent-white-3;
		color: black;
	}
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

input.form-control {
	border-radius: 0;
}

select#sel1 {
	border-radius: 0;
}

.list-header {
	color: white;
	text-align: center;
	padding: 20px 15px;
	background-color: $transparent-black-5;
	margin: 0px;
	border-bottom: 1px solid $transparent-white-3;
	font-family: openSansBold;
}


.feature { 
	transition: all .2s ease-in-out; 
	width: 80%;
	background-color: $transparent-black-3;
	margin: 0px 40px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	padding: 0px;
	font-size: 1.4em;
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {
		border-bottom: 1px solid $transparent-black-3;
		padding: 15px 45px;
	}
	li:hover {
		background-color: $transparent-black-5;
		color: $yellow;
	}

	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.6);
	}

	a:hover {
		color: $yellow;
	}
	a:focus {
		outline: none;
	}
}

.feature:hover {
	-webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 100;
}

.feature:focus {
	outline: none;
}

.panel {
	width: 80%;
}

button.btn-go {
		background-color: $yellow; 
		border-radius: 0;
	}
	button.btn-go:focus {
		outline: none;
	}

.today-content {
	margin: 100px 0px;
	h3 {
		margin-bottom: 50px;
		font-family: openSansBold;
	}
	h3.img-content {
		position: absolute;
		top: 33%;
		left: 0;
		right: 0;
		margin: auto;
		color: white;
		transition: all .2s ease-in-out; 
	}
	h3.img-content:hover {
		-webkit-transform: scale(1.1);
	  -ms-transform: scale(1.1);
	  transform: scale(1.1);
	  z-index: 100;
	  color: $yellow;
	}
	.img-responsive {
		position: relative;
	}
	button {
		margin: 50px 0px;
		color: white;
	}
	.img-responsive:hover {
		background-color: $transparent-black-3;
	}
}

.search-content {
	position: relative;
	margin: 100px 0px;
	h3 {
		margin-bottom: 50px;
		font-family: openSansBold;
	}
	.col-md-3 {
		margin: 20px 0px;
	}
	a {
		text-decoration: none;
		color: $main-text;
	}
	i{
		transition: all .2s ease-in-out; 
		color: $main-text;
	}
	i:hover {
		-webkit-transform: scale(1.1);
	  -ms-transform: scale(1.1);
	  transform: scale(1.1);
	  z-index: 100;
	  color: $yellow;
	}
}
.bottom-row {
	margin-bottom: 100px;
}

.email-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 60px 0px;
	background-color: $yellow;
	h3 {
		font-family: openSansBold;
		margin-bottom: 30px;
		color: black;
	}
}

footer {
	background-color: $background;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin: 50px 0px;

}
